/* Main Notes container */
.notes-container {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

/* Static style for Notes */
.static-notes {
    font-family: 'Georgia', serif;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px;
    /* border-left: 4px solid #ddd; */ /* Remove this line */
    margin-bottom: 20px;
    transition: color 0.3s ease;
}


/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}
